<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单管理</title>
    <link href="/css/sale.css" th:href="@{/css/sale.css}" rel="stylesheet">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/prototype/1.7.1.0/prototype.js"></script>
    <script>
        function check(form)
        {
            document.myform.submit();
        }
        function check2(form)
        {
            document.myform.action="/S_query-revise-page";
            document.myform.submit();
            alert("修改成功");
        }
    </script>
</head>
<h2 >订单管理</h2>



    <ul class="home_ul">
        <li class="home_li"><a class="home_li_a" href="sale_input">输入订单</a></li>
        <li class="home_li"><a class="home_li_now" href="#">查询订单</a></li>
    </ul>


<body>

<form action="/S_query-page" method="post" name="myform">
    <div align="center">
<label>请输入订单号：</label><input type="text" name="query_id"/>

<input id="b2" type="submit" value="查询" onclick="return check(this.form)"/>
    </div>

<table align="center">
    <tr><td></td><td><h2 align="center">订单信息</h2></p></td></tr>

    <tr><td>订单号：</td><td  th:text="${o!=null}?${o.getId()}" name="id"></td></tr>
    <tr><td><h3>客户信息</h3></td></tr>

    <tr><td>姓名：</td><td th:text="${o!=null}?${o.getC_name()}"></td><td><label>修改为</label><input type="text" name="name"/></td></tr>
    <tr><td>电话：</td><td th:text="${o!=null}?${o.getC_phone()}"></td><td><label>修改为</label><input type="text" name="phone"/></td></tr>
    <tr><td>地址：</td><td th:text="${o!=null}?${o.getC_adr()}" ></td><td><label>修改为</label><input type="text" name="adr"/></td></tr>


    <tr><td><h3>汽车信息</h3></td><td></td></tr>
    <tr><td>型号：</td><td th:text="${o!=null}?${o.getCar_model()}"></td></tr>
    <tr><td>数量：</td><td th:text="${o!=null}?${#numbers.formatDecimal(o.getCar_sum(), 0, 0)}"></td></tr>
    <tr><td>交货日期：</td><td th:text="${o!=null}?${#calendars.format(o.getDate(),'yyyy-MM-dd')}"></td></tr>
    <tr><td>已完成数量：</td><td th:text="${o!=null}?${#numbers.formatDecimal(o.getOversum(), 0, 0)}"></td></tr>

</table>
    <input class="b" type="submit" value="确认修改" onclick="return check2(this.form)"/>
</form>
</body>
</html>